// 1rem = 16px
ul {
    list-style: none;
    padding: 0;
}

.fz-7 {
    font-size: 0.8rem;
}

.btn {
    color: #fff;
    background-color: #1fabd5;
    border-color: #1fabd5;
    border-radius: 2rem;
    font-weight: bold;
}

.container {
    max-width: 67.5rem;
    margin: auto;
}

footer {
    background-color: #6a6a6a;
    color: #fff;
    font-size: 10px;
    padding: 1.5rem;
}

.border-flame {
    border: 1px solid #d1d1d1;
    border-radius: 12px;
}

.wrap {
    max-width: 32rem;
    margin: auto;
}

.w-9 {
    width: 90%;
}

.btn:hover {
    color: #212529;
    background-color: #fff;
    transform: scale(0.9);
}

.required:after {
    content: "必須";
    font-size: 12px;
    margin: 14px;
    background-color: #e13535;
    color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: bold;
}

div#error-message ul {
    width: 60%;
    margin: 0 auto 1rem;
    text-align: center;
    color: #ab1212;
}

div#registration-completed {
    display: none;
}
