// 1rem = 16px
html {
    height: 100%;
    box-sizing: border-box;
}


body {
    position: relative;
    min-height: 100%;
    margin: 0;
    box-sizing: inherit;
}


.main-bg-color {
    background-color: $main-color;
}
.sub-bg-color {
    background-color: $sub-color;
}

.dark-bg-color {
    background-color: $dark-color;
}

.heading-color {
    color: $heading-color;
}

ul {
    list-style: none;
    padding: 0;
}

.fz-7 {
    font-size: 0.8rem;
}

.btn {
    color: #fff;
    background-color: #1fabd5;
    border-color: #1fabd5;
    border-radius: 2rem;
    font-weight: bold;
}

.container {
    max-width: 67.5rem;
    margin: auto;
}

.first-contents {
    padding-top: 4rem;
}

nav.navbar {
    position: fixed;
    height: 4rem;
    width: 100%;
    top: 0;
    color: #fff;
    z-index: 1000;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

button.navbar-toggler.custom-toggler {
    border: none;
    span.navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}

.border-flame {
    border-radius: 12px;
    box-shadow: 0 2.5rem 2rem -2rem hsl(200deg 45% 24% / 40%);
    border: 1px solid #ececec77;
    background-color: #fff;
}

.wrap {
    max-width: 32rem;
    margin: auto;
}

.w-9 {
    width: 90%;
}

.btn:hover {
    color: #212529;
    background-color: #fff;
    transform: scale(0.9);
}

.required:after {
    content: "必須";
    font-size: 0.7rem;
    margin: 0 .5rem;
    background-color: #e13535;
    color: #fff;
    padding: .3rem .5rem;
    border-radius: 4px;
    font-weight: bold;
}

div#error-message ul {
    width: 60%;
    margin: 0 auto 1rem;
    text-align: center;
    color: #ab1212;
}

div#registration-completed {
    display: none;
}

span.rule {
    font-size: 0.8rem;
    margin: 0 0 0 .5rem;
}

.panel-bg {
    background-color: $sub-color;
}


footer {
    background-color: $middle-dark-color;
    color: #fff;
    font-size: 10px;
    padding: 1.5rem;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}
