// 1rem = 16px

.btn {
    color: #fff;
    background-color: #1FABD5;
    border-color: #1FABD5;
    border-radius: 2rem;
    font-weight: bold;
}

.container {
    max-width: 67.5rem;
    margin: auto;
}

footer {
    background-color: #6A6A6A;
    color: #fff;
    font-size: 10px;
    padding: 1.5rem;
}

.border-flame {
    border: 1px solid #D1D1D1;
    border-radius: 12px;
}

.w-9 {
    width: 90%;
}

.btn:hover {
    color: #212529;
    background-color: #fff;
    transform: scale(.9);
}
