.top-cover {
    background-color: #D6D6D6;
    height: 31rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn.join-btn {
    width: 12.5rem;
    height: 4rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem auto;
}
