.modal {
    background-color: rgba(0, 0, 0, 0.7);

    .modal-dialog {
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 1px 3px 20px rgb(0 0 0 / 20%);

        .modal-header {
            padding: 0.5rem 1rem;
            border: none;

            button.close {
                border: none;
                background: transparent;
                font-size: 2rem;
                position: relative;
                top: -1rem;
                right: -2rem;
                padding: 2rem;
                line-height: 0;
            }
        }
        .modal-title {
            margin: auto;
        }
        .modal-footer {
            border: none;
        }
    }
}
