table.table {
    max-width: 50rem;
    margin: auto;
    text-align: center;
}

thead.main-bg-color {
    th {
        background-color: #d7edf4;
    }
}

tbody {
    tr:nth-of-type(2n) {
        background-color: #e1e9ea;
    }
}
