// Body
$body-bg: #f8fafc;
$button-bg: #1fabd5;
$light-color: #d7edf4;

// Typography
$font-family-sans-serif: sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// color
$main-color: #151F32;
$sub-color: #FBFCFF;
$dark-color: #222329;
$middle-dark-color: #6a6a6a;
$heading-color: #4051B2;
